/* Mise en page générale */
*{
    transition: 0.2s;
}

body {
    background-color: white;
    margin:0;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    left: 300px;
    height: 300px;
}

#titre {
    font-size: 50px;
    height: inherit;
    color: white;
}

#titre a:link, #titre a:visited {
    text-decoration: none;
    color: black;
}

#btn-deconnexion {
    background: none!important;
    padding: 0!important;
    border: none;
    color: black;
    font: inherit;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

#feedy-new textarea {
    width: 85%;
    height: 75px;
    resize: none;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}
#feedy-new textarea:focus-visible {
    outline: none;
}

#feedy-new {
    text-align: center;
    font-size: 20px;
    border-bottom: solid 1px lightgray;
}

#feedy-new fieldset{
    margin: 0;
    border: none;
    padding: 15px;
}

#feedy-new fieldset > div{
    border: none;
}

#feedy-new-submit {
    background-color: #1d9bf0;
    float: right;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
}

#feed {
    margin-left: min(600px,60%);
    width: 600px;
    border: solid 1px lightgray;
    border-width: 0 1px 0 1px;
}

/* Feedy */

.avatar {
    border-radius:100px;
    width:48px;
}

.feedy .avatar {
    margin-right: 15px;
}

.feedy {
    background: #fff;
    padding: 30px;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.feedy:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.feedy-header {
    display: flex;
    align-items:flex-start;
    font-size:15px;
}
.feedy-info {
    font-weight:bold;
}

.feedy-info span.premium-login {
    color: #FFD700;
    font-weight: bold;
}

.feedy-info p {
    word-break: break-all;
}

.feedy-info span {
    color:#657786;
    font-weight:normal;
}
.feedy-info p {
    font-weight:normal;
    margin-top: 10px;
}

.error-block {
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid mediumvioletred;
    padding: 20px 40px;
    background-color: orangered;
}

#error-block-container {
    margin-top: 50px;
}

#interrogation {
    width: 100px;
}

.basic-form {
    width: 50%;
}

.basic-form label, .basic-form input, .basic-form legend  {
    font-size: 25px;
}

.basic-form label, .basic-form input {
    display: block;
}

.basic-form-submit {
    margin: auto;
    font-size: 25px;
}

.access-container input {
    width: 100%;
}

.basic-form {
    margin-top: 50px;
}

.basic-form label {
    text-align: left;
}

.access-container {
    margin-bottom: 20px;
}

.access-container label {
    margin: 5px 0;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: inherit;
    justify-content: space-around;
}

nav a {
    margin: 0 10px;
}

#flashes-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    animation:flashes-animation 5s 1;
    -webkit-animation:flashes-animation 5s 1;
    animation-fill-mode: forwards;
    animation-delay:3s;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;
}

.flashes {
    width: fit-content;
    max-width: 700px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    color: white;
}

@-webkit-keyframes flashes-animation {
    0%   {opacity: 1;}
    50% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
}

.flashes-error {
    background-color: darkred;
}

.flashes-success {
    background-color: #1d9bf0;
}

#no-publications {
    font-weight: bold;
    font-size: 40px;
    margin-top: 100px;
}

.help-input-form {
    text-align: left;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
}

.delete-feedy {
    position: absolute;
    background: none;
    border: none;
    border-radius: 100px;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
}
.delete-feedy:hover{
    background-color: rgba(255,0,0,0.2);
}

.delete-feedy img{
    width: 20px
}



#btn-supprimer-compte {
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin : 10px 0;
}

#titre-page-perso {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.warning-message {
    background-color: orangered;
    border: 2px solid mediumvioletred;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px auto;
    text-align: center;
    width: 40%;
}

.star-premium {
    width: 20px;
}

#premium-infos {
    font-size: 20px;
    margin-top: 30px;
}

#premium-infos #star {
    width: 250px;
}

#btn-buy-premium {
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#btn-deconnexion {
    cursor: pointer;
}

#form-ban #login {
    font-size: 30px;
    width: 100%;
}